body{
    background-color: black;
    color:darkgreen;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button{
    padding: 5px 20px;
    background-color: darkgreen;
    border-style: none;
    color: whitesmoke;
}

input{
    height: 20px;
    padding: 4px 10px;
}
